<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/stylesheet.css">
        <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
        <title>{{title}}</title>
    </head>
    <body>
        <div class="flex-container">
            {{{body}}}
        </div>
        <script src="script.js"></script>
    </body>
</html>
