{{>logout}}

<h1>This is the {{title}} template!</h1>

<img src="{{signature}}" alt="Showing canvas you've signed" id="img-signature">

<p>Thank you very much for signing up. Here's a list of all the other participants:</p>

<a href="/signers">Show list of all {{amountSigners}} participants</a>

<p>You can edit your profile here:</p>

<a href="/edit">Edit your profile</a>

<p>Click here if you want to delete your profile:</p>

<form method="post" action="/unsign">
    <input name="_csrf" value="{{csrfToken}}" type="hidden">
    <button type="submit" name="deleteSignatureButton">Delete your signature</button>
</form>
