<h1>This is the {{title}} template!</h1>

<p>Thank you very much for signing up. Here's a list of all the other participants:</p>

<!-- show signature -->

<a href="/signers">Show list of all {{amountSigners}} participants</a>

<a href="/edit">Edit your profile</a>

<form method="post">
    <button type="submit" name="deleteSignatureButton">Delete your signature</button>
</form>
