<h1>This is the {{title}} template!</h1>

<form method="post">

    <input type="text" name="firstName" placeholder="First name" required id="first-name">

    <input type="text" name="lastName" placeholder="Last name" required id="last-name">

    <input type="email" name="emailAddress" placeholder="example@email.com" required>

    <input type="password" name="password" placeholder="Enter password" required>

    <input type="number" name="signersAge" placeholder="Enter your age" min="0" max="1337">

    <input type="text" name="signersCity" placeholder="Please enter city name">

    <input type="url" name="signersHomepage" placeholder="Please enter URL">

    <button type="submit" name="logInButton">Update</button>

</form>
