<h1>This is the {{title}} template!</h1>

<form method="post">

    <input type="email" name="emailAddress" placeholder="example@email.com" required>

    <input type="password" name="password" placeholder="Enter password" required>

    <input name="_csrf" value="{{csrfToken}}" type="hidden">

    <button type="submit" name="logInButton">Log In</button>

</form>

    <p>If you don't have an account yet, you can register <a href="/register">here</a>.</p>

{{#if error}}
    <p>Something went wrong, please try again!</p>
{{/if}}
