<h1>This is the {{title}} template!</h1>

<form method="post">

    <input type="email" name="emailAddress" placeholder="example@email.com" class="login-inputs" required>

    <input type="password" name="password" placeholder="Enter password" class="login-inputs" required>

    <button type="button" name="logInButton" class="login-inputs">Log In</button>

</form>
