<h1>This is the {{title}} template!</h1>

<form method="post">

    <input type="email" name="emailAddress" placeholder="example@email.com" required>

    <input type="password" name="password" placeholder="Enter password" required>

    <button type="submit" name="logInButton">Log In</button>

</form>
