{{>logout}}

<h1>This is the {{title}} template!</h1>

<h2>Please sign this petition, thank you.</h2>

<form method="post">

    <input type="hidden" name="signature" id="hidden-input" required>

    <canvas id="canvas">Please sign here.</canvas>

    <input name="_csrf" value="{{csrfToken}}" type="hidden">

    <input type="submit" value="Submit" id="submit-button">

    <button type="button" id="erase-button">Try again</button>

</form>

{{#if error}}
    <p>Something went wrong, please try again!</p>
{{/if}}
