{{>logout}}

<h1>This is the {{title}} template!</h1>

<p>Please add some additional information about your age, the city you live in and your homepage URL, thank you.</p>

<p>(It's optional, you don't have to!)</p>

<form method="post">

    <input type="number" name="signersAge" placeholder="Enter your age" min="0" max="1337">

    <input type="text" name="signersCity" placeholder="Please enter city name">

    <input type="url" name="signersHomepage" placeholder="Please enter URL">

    <input name="_csrf" value="{{csrfToken}}" type="hidden">

    <button type="submit" name="addInfoButton">Continue</button>

</form>
