<h1>This is the {{title}} template!</h1>

<form method="post">

    <input type="text" name="firstName" placeholder="First name" class="register-inputs" required>

    <input type="text" name="lastName" placeholder="Last name" class="register-inputs" required>

    <input type="email" name="emailAddress" placeholder="example@email.com" class="register-inputs" required>

    <input type="password" name="password" placeholder="Enter password" class="register-inputs" required>

    <button type="button" name="submitButton" class="register-inputs">Register</button>

</form>

<p>If you're already registered, please log in <a href="/login">here</a>.</p>
