<h1>Save the bees!</h1>

<h2>Ever wondered what happened if all the bees died?</h2>

<iframe width="560" height="315" src="https://www.youtube.com/embed/JilYBVrFiLA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>If you want to prevent this, please register and sign up to find out more:</p>

<form method="post">

    <input type="text" name="firstName" placeholder="First name" required>

    <input type="text" name="lastName" placeholder="Last name" required>

    <input type="email" name="emailAddress" placeholder="example@email.com" required>

    <input type="password" name="password" placeholder="Enter password" required>

    <input name="_csrf" value="{{csrfToken}}" type="hidden">

    <button type="submit" name="submitButton">Register</button>

</form>

<p>If you're already registered, please <strong>log in</strong> <a href="/login">here</a>.</p>

{{#if error}}
    <p>Something went wrong, please try again!</p>
{{/if}}
