<h1>This is the {{title}} template!</h1>

<form method="post">

    <input type="text" name="firstName" placeholder="First name" required>

    <input type="text" name="lastName" placeholder="Last name" required>

    <input type="email" name="emailAddress" placeholder="example@email.com" required>

    <input type="password" name="password" placeholder="Enter password" required>

    <input name="_csrf" value="{{csrfToken}}" type="hidden">

    <button type="submit" name="submitButton">Register</button>

</form>

<p>If you're already registered, please log in <a href="/login">here</a>.</p>

{{#if error}}
    <p>Something went wrong, please try again!</p>
{{/if}}
