/* GLOBAL SETTINGS */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    color: #0b032d;
    display: flex;
    justify-content: center;
    background-color: #f67e7d;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
}

h1,
h2,
p {
    font-weight: 100;
}

canvas {
    border: 1px black dotted;
    display: block;
    margin-top: 20px;
}

input,
button {
    display: block;
    margin: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    list-style-type: none;
    margin: 20px;
    font-size: 1.5em;
}

a {
    color: #843b62;
    text-decoration: none;
    transition: color 0.4s ease;
}

a:hover {
    color: #283c63;
}

iframe {
    box-shadow: 0 8px 6px -6px black;
}

/* FLEXBOX SETTINGS */

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: #ffb997;
    width: 90%;
}

/* MISCELLANEOUS */

#submit-button {
    margin-top: 20px;
}

#img-signature {
    border: 1px dotted black;
    margin-top: 20px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 700px) {
    iframe {
        width: 70%;
    }

    h1,
    h2,
    p {
        width: 90%;
    }
}
