* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: #fbe8d3;
    color: #283c63;
}

h1,
h2,
p {
    font-weight: 100;
}

canvas {
    border: 1px black dotted;
    display: block;
    margin-top: 20px;
}

input,
button {
    display: block;
    margin: 10px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    list-style-type: none;
    margin: 20px;
}

a {
    color: #f85f73;
    text-decoration: none;
    transition: color 0.4s ease;
}

a:hover {
    color: #283c63;
}

#submit-button {
    margin-top: 20px;
}

#img-signature {
    border: 1px dotted black;
    margin-top: 20px;
}
